[2019-07-24 08:40] nielslange opened #19 "Adjust site title for mobile devices"
**Steps to reproduce**

- Look up http://2020.asia.wordcamp.org on a mobile device

**Expected behaviour**

Site title does not break

**Current behaviour**

Site title breaks (see screenshot below)

![IMG_5957](https://user-images.githubusercontent.com/3323310/61778684-7b651a80-adff-11e9-9d1e-e7179ee975b9.jpg)

[2019-07-29 03:11] naokomc opened #22 "Ticket Info Page: One paragraph is right-aligned"
Steps to reproduce:
1. Purchase a ticket
2. Go to the ticket information screen (URL is something like https://2020.asia.wordcamp.org/tickets/?tix_action=access_tickets&tix_access_token=xxxx...)

The last paragraph is right-aligned.

![image](https://user-images.githubusercontent.com/34067/62019398-9bc71780-b1f9-11e9-9e07-c4661f9990dd.png)

That CSS for `#tix p:last-child` is set for the ticket pu

[2019-07-29 11:07] drebbits opened #23 "Other method for purchasing tickets for Nepal"
Is there any other method for Payment for the tickets? I am from Nepal. Our Bank cards does not works online and PayPal is not available in our country. Please let me know if there is any other method for purchasing tickets.

https://2020.asia.wordcamp.org/wp-admin/post.php?post=715&action=edit&classic-editor__forget&classic-editor

[2019-07-29 12:16] drebbits opened #24 "Apply coupon button spacing"
![Screen Shot 2019-07-29 at 8 14 49 PM](https://user-images.githubusercontent.com/5811397/62047702-b7541180-b23d-11e9-98d3-37ac342313a8.png)

[2019-07-30 09:19] drebbits commented on #22
@appsrex are you able to work on this? If not no worries, we can assign to @tepkenvannkorn or me.

[2019-07-30 09:19] appsrex commented on #23
I don't think we will be able to take local payments.

[2019-07-30 09:20] appsrex commented on #22
@drebbits i will push the updates today.

[2019-07-30 09:28] utsavsinghrathour opened #25 "Error shown, even when payment was made."
There seems to be some problem with the payment confirmation.
The payment was made but the end-user saw an error.

https://twitter.com/eblagonic/status/1155821986720956417
This particular issue has been resolved as per the discussion on Slack. Putting it here to make sure this is fixed.

[2019-07-30 09:29] drebbits commented on #19
Fixed in #21 but looks like site title is just too big on mobile

@tepkenvannkorn we can try reducing the font size. Let's try `2.215em` for `.home .site-header .custom-header .site-title` as the baseline (mobile first) then back to `3.215em` for screen with min-width of `768px` to start.

[2019-07-30 09:31] drebbits commented on #25
Thanks @utsavsinghrathour, we will reach out to central support as well to confirm if there's any payment came through from the transaction they made. Please reference this in the #budget channel as well.

[2019-07-30 09:34] drebbits commented on #25
@appsrex saw you already acknowledged their issue on Twitter 👍

[2019-07-30 10:26] utsavsinghrathour commented on #25
Apparently, he tried to book another ticket and then the site froze.
"It also seems I have an issue now that I bought another ticket :/ it has been freezed, now I unfreezed it and I'm not sure if the payment went through :| the last ticket was registered to my email emanuel@blagonic.com"
Can you please take a look on to it.
@drebbits

[2019-07-30 11:06] appsrex commented on #25
@utsavsinghrathour Found it was failed. We will decide how to proceed with failed tickets ASAP.

[2019-07-30 12:03] #22 closed, assigned to appsrex

[2019-07-30 12:45] #24 closed, assigned to nobody

[2019-07-30 13:00] #19 closed, assigned to nobody

[2019-07-30 16:12] cylis opened #27 "All paragraphs have CSS word-break: break-all"
There is a visual issue with word-break on all paragraphs. See screenshot attached
<img width="1392" alt="word-break on all paragraphs" src="https://user-images.githubusercontent.com/2102961/62146393-82b88680-b31f-11e9-8122-509930a29244.png">

[2019-07-30 16:54] #27 closed, assigned to nobody

[2019-07-30 16:56] drebbits commented on #27
Thanks for reporting @cylis :)

[2019-07-31 08:38] drebbits commented on #25
@appsrex @utsavsinghrathour looks like this one got resolved?

[2019-07-31 08:43] tepkenvannkorn opened #29 "Set featured image for the ticket page"
https://2020.asia.wordcamp.org/tickets/

[2019-07-31 08:47] drebbits commented on #23
@appsrex we have a member in the organizing team from Nepal. We can get insights from him on how they accept payments in their WordCamps.

[2019-07-31 09:08] drebbits commented on #23
This has been taken care of by #budget and comms team thru our Freescrout help desk.

Closing out.

[2019-07-31 09:08] #23 closed, assigned to nobody

[2019-07-31 09:10] utsavsinghrathour commented on #25
Yes it was resolved. Thank you. Will also close this issue.

[2019-07-31 09:10] #25 closed, assigned to appsrex

[2019-07-31 09:13] utsavsinghrathour opened #30 "Attendees Page : The text decoration on hover is extending far too long."
![Attendees – WordCamp Asia 2020](https://user-images.githubusercontent.com/2120813/62199601-82fa6580-b3a3-11e9-8652-b927feda990c.png)

[2019-07-31 14:20] Kenshino opened #31 "Test"
Let me know if you guys want this type of notifications

[2019-07-31 14:49] drebbits commented on #31
this would helpful!

[2019-07-31 14:52] Kenshino commented on #31
Nice. It's activated by default for PR and issues

[2019-07-31 14:52] #31 closed, assigned to nobody

[2019-08-02 13:41] drebbits opened #32 "Jetpack form default value"
Trying to add “default value” for form fields. In the front end the default value isn’t showing up. I have tested for text & website fields. None of the default value is showing up.

<img width="1278" alt="Screen Shot 2019-08-02 at 9 12 36 PM" src="https://user-images.githubusercontent.com/5811397/62374307-4f1f6b80-b56e-11e9-9c57-853fd2adb5c1.png">

[2019-08-03 03:20] tepkenvannkorn opened #33 "Adding "Request a ticket invoice" page"
adding copy and form like https://2018.europe.wordcamp.org/contact/request-a-ticket-invoice/

[2019-08-04 08:07] tepkenvannkorn commented on #29
Can anyone recommend which image to use and what dimension?

[2019-08-07 08:39] drebbits commented on #29
@tepkenvannkorn this is the featured image for Tickets page:
https://2020.asia.wordcamp.org/files/2019/07/fb_tickets-now-on-sale.png

However, we would need to hide it from showing up on the page itself. We only need to set it as featured image for social image preview.

[2019-08-09 04:37] tepkenvannkorn commented on #30
Hi @drebbits, I've pushed the changes to fix this. Could you please help check?

[2019-08-09 12:26] drebbits opened #34 "Update website logo"

[2019-08-14 08:55] #30 closed, assigned to tepkenvannkorn

[2019-08-14 15:28] wittwitsan commented on #34
Logo image here: https://drive.google.com/open?id=1x21rvJ04gUcuNzU2RldZ_X_jaz9wAJYu

[2019-08-14 15:30] wittwitsan commented on #34
Mockup of how it'd look on desktop and mobile:
https://www.figma.com/file/vDNpJTFZmNsMFQnwFNXs5M/WordCamp-Asia-2020-Website?node-id=21%3A3

[2019-08-16 06:50] drebbits commented on #34
thanks, @ibdz

[2019-08-16 08:08] drebbits commented on #34
@ibdz can you look at the PR (https://github.com/wcasia/theme-2020/pull/36)?

[2019-08-16 10:26] #34 closed, assigned to nobody

[2019-08-20 08:55] tepkenvannkorn opened #37 "The Design team is looking at the preferences for fonts in each language."
For Japanese, we want only the title “M PLUS 1p”. Specify only “sans-serif” for the text. Because Japanese web fonts are heavy and affect speed, we decided not to apply them in the body of text.

https://fonts.google.com/specimen/M+PLUS+1p

[2019-08-21 13:41] nukaga commented on #37
For Chinese, please use "Noto Sans TC"
https://fonts.google.com/specimen/Noto+Sans+TC

[2019-08-23 05:08] drebbits commented on #37
@appsrex would you like to work on this?

[2019-08-23 05:15] drebbits commented on #33
- [x] Copy the content from the [WCEU2018](https://2018.europe.wordcamp.org/contact/request-a-ticket-invoice/) as a page (do not publish yet)
- [x] Add the draft link in Ticket Invoice Request (https://docs.google.com/spreadsheets/d/1YiE4DKgW7T7yLNSb3x64kaaqLKN4bWG0DfXj3OtZryM/edit#gid=0)
- [x] Have the #budget team review the info and form in the page
- [x] Assign to @jainnidhi to reach out to co

[2019-08-23 08:03] appsrex commented on #37
@drebbits on it

[2019-08-23 08:05] imnok commented on #37
@ibdz can you choose one for Thai, please?

[2019-08-23 08:09] appsrex commented on #37
Yes. I was about to ask you on slack. can you leave the font link here?

[2019-08-23 09:42] wittwitsan commented on #37
**Font for Thai language:**

Heading font:
https://fonts.google.com/specimen/Mitr

Body font:
https://fonts.google.com/specimen/Sarabun

[2019-08-26 01:33] tepkenvannkorn commented on #33
The page is now ready for review. The date will need to be specified. Link: https://2020.asia.wordcamp.org/wp-admin/post.php?post=1465&action=edit

[2019-08-30 09:34] drebbits opened #38 "Create call for wapuu Jetpack form"
https://2020.asia.wordcamp.org/?p=1787&preview=true

- name
- org account
- E-mail address
- Consent to WordCamp volunteer, executive committee, speaker agreement
- Wapuu’s 100% GPL agreement
- Wapuu file share URL
- Short comment to introduce Wapuu

[2019-08-30 10:24] jainnidhi commented on #38
I've created this form. Please check and let me know.
https://2020.asia.wordcamp.org/?p=1787&preview=true

[2019-08-30 11:44] tepkenvannkorn commented on #38
Hi @jainnidhi and @drebbits, besides "Short comment to introduce Wapuu" field, should other fields be required?

[2019-08-30 14:23] drebbits commented on #38
A couple of notes here. Sorry I added the fields without any field type.

name - textfield (req)
org account - textfield
email address - email add (req)
wapuu's file share URL - textfield / URL field (req)
short commend to introduce wapuu - textarea (req)
consent to WordCamp volunteer etc (add link to the agreement) - checkbox
Wapuu 100% GPL agreement (add link to the agreement) - checkbox

[2019-09-03 06:20] drebbits opened #39 "Main language pages"
Review the pages under **Languages** in our Website Sitemap - https://docs.google.com/spreadsheets/d/1YiE4DKgW7T7yLNSb3x64kaaqLKN4bWG0DfXj3OtZryM/edit#gid=0

[2019-09-04 05:53] jainnidhi commented on #39
@drebbits I've checked the main translation pages. Venue details added on Japanese page but not on other translation pages.
And Info page don't have the venue details. Maybe that's why all translated these pages accordingly.
So, do we need to add the venue details on all the pages?
And the last "What is WordCamp" description is also different on all pages.

[2019-09-04 06:00] jainnidhi commented on #38
@drebbits Comms team have been amended the form. And the post is live now.
https://2020.asia.wordcamp.org/2019/09/02/call-for-wapuu/

So, we can close this. :)

[2019-09-04 06:00] #38 closed, assigned to jainnidhi

[2019-09-04 07:18] imnok opened #40 "Button: There is a border-bottom added to button on hover"
I found that when you hover on some buttons there is a border-bottom added.

Reproduced:
1. Open [https://2020.asia.wordcamp.org/2019/08/21/call-for-volunteers-open-now/](https://2020.asia.wordcamp.org/2019/08/21/call-for-volunteers-open-now/)
2. Hover **Apply Now** button.

[2019-09-04 09:28] drebbits commented on #39
@jainnidhi do you mean by venue details is Japanese has the google map embed? Let's add the google map embed to other translated pages if they are missing, and I don't think we need to worry about the "What is WordCamp".

Sam from communication approved these pages so go ahead and published them when you get a chance. Ideally today or tomorrow.

[2019-09-04 09:28] drebbits commented on #37
@appsrex any updates here? Do you need assistance, we can pull in VK.

[2019-09-04 09:32] drebbits commented on #39
Once published, feel free to add to the top menu following our sitemap structure.

[2019-09-04 09:59] drebbits opened #41 "Invitation Letter Request Page"
Example visa invitation letter:

https://2019.us.wordcamp.org/info/visa-letter-requests/
https://2019.bangkok.wordcamp.org/invitation-letter-request/

- [ ] Copy the content from [WCBKK2019](https://2018.europe.wordcamp.org/contact/request-a-ticket-invoice/) as a page (do not publish yet)
- [ ] Add the draft link in Invitation Letter Request (https://docs.google.com/spreadsheets/d/1YiE4DKgW7T7yLNS

[2019-09-04 09:59] drebbits commented on #41
https://trello.com/c/hHQz4nko/1-template-visa-invitation-letter

[2019-09-04 10:30] drebbits opened #42 "Improve Location page"
Site page:
https://2020.asia.wordcamp.org/location/

Examples:
https://2019.bangkok.wordcamp.org/location/
https://2019.us.wordcamp.org/info/location/

[2019-09-05 08:52] tepkenvannkorn opened #43 "Add captcha to all forms to prevent spam"

[2019-09-05 09:27] drebbits commented on #43
@tepkenvannkorn is this something you'd like you take on? we might need to reach out to #meta-wrodcamp if there's a plugin we can use to add recaptcha to Jetpack forms.

[2019-09-05 09:51] jainnidhi commented on #39
Hey @drebbits I've added map on all the pages and also published them.
Do I need to add as a sub pages of home page or create a Languages link in menu and then add as a sub pages in it?

It would be better if we add as sub pages for home page.

What do you think?

[2019-09-06 02:35] tepkenvannkorn commented on #43
Yes, you are right. I'll contact them on this mater.

[2019-09-06 04:02] tepkenvannkorn opened #44 "Texts appear shorter than then layout on page "Interactive Map Guide""
The first para on the site appears shorter than the rest of the block.
<img width="683" alt="Screen Shot 2019-09-06 at 10 43 56" src="https://user-images.githubusercontent.com/6930425/64400220-a9dc4380-d095-11e9-9e10-162cec32e991.png">
https://2020.asia.wordcamp.org/?page_id=11884&preview=true

[2019-09-06 05:06] appsrex commented on #42
I guess this will be taken care of by the content team?

[2019-09-06 05:10] appsrex commented on #44
This is happening for the words that are the end of the line, justifying them will look bad

[2019-09-09 17:00] drebbits commented on #39
For AR from Ali:
[code]

[2019-09-09 17:14] drebbits commented on #39
@jainnidhi I can see why we can have it under homepage, too. I think for me, it's more on people  used to **not** have any subpages on `Home`, and typically multi-languages site will either have flag in the header or footer; or a cue or text that would hint them languages is available here or under here.

Example:
https://2019.tokyo.wordcamp.org/
https://2018.tokyo.wordcamp.org/

I'd say let's add

[2019-09-09 17:16] drebbits commented on #43
@tepkenvannkorn any updates? let us know if you need our assistance here.

[2019-09-10 01:42] tepkenvannkorn commented on #43
@drebbits I checked and didn't see any possibility on the site to integrate captchar. May we ping Sam for help?

[2019-09-10 02:07] #40 closed, assigned to tepkenvannkorn

[2019-09-10 02:11] tepkenvannkorn commented on #44
@appsrex 100% agree. @drebbits should we ping the comms team to change the copy or just leave as it is right now?

[2019-09-10 13:44] #37 closed, assigned to appsrex

[2019-09-10 13:46] appsrex commented on #39
We better do it using parent page id

[2019-09-12 03:59] jainnidhi commented on #41
Hey @drebbits I've created this page.
Please check and let me know.
https://2020.asia.wordcamp.org/?page_id=12148&preview=true

[2019-09-18 13:39] drebbits commented on #44
@tepkenvannkorn let's leave it as is for now. I don't see this one as critical / interfering with reading experience. Thanks for exploring this VK!

Closing this one.

[2019-09-18 13:39] #44 closed, assigned to nobody

[2019-09-18 13:40] drebbits commented on #43
@tepkenvannkorn did we get any insights from #meta-wordcamp team if they have any suggestions for captcha?

[2019-09-18 13:46] tepkenvannkorn commented on #43
Not at all, the only advice is to keep using Akismet

[2019-09-20 01:31] drebbits commented on #39
@appsrex or @tepkenvannkorn are you able to make the changes to make the Arabic text direction RTL? Example CSS is in the previous comment above.

[2019-09-30 04:07] jainnidhi commented on #33
It's completed and published.

[2019-09-30 04:07] #33 closed, assigned to jainnidhi

[2019-10-08 09:52] nukaga opened #48 "Add Sponsor list and sponsor details page"
Please display the sponsor list in the footer and create a sponsor details page.
The design is this Figma v3 Footer-sponsors list and Sponsor single page.
https://www.figma.com/file/vDNpJTFZmNsMFQnwFNXs5M/WordCamp-Asia-2020-Website?node-id=134%3A106

[2019-10-08 13:47] #41 closed, assigned to jainnidhi

[2019-10-11 13:16] drebbits commented on #48
Sponsors page:
https://2020.asia.wordcamp.org/wp-admin/post.php?post=10&action=edit

Sponsors block:
<img width="728" alt="Screen Shot 2019-10-11 at 9 14 25 PM" src="https://user-images.githubusercontent.com/5811397/66654184-40d78500-ec6c-11e9-9c19-5efcd170deaa.png">

[2019-10-11 13:28] drebbits commented on #29
Let's close this one. I think it's not really a critical issue right now on the site.

[2019-10-11 13:28] #29 closed, assigned to tepkenvannkorn

[2019-10-11 13:44] #32 closed, assigned to nobody

[2019-10-12 21:23] Kenshino commented on #48
Hey - has this been completed?

I believe we asked for this to be finished by 9 October and the sponsor listing page doesn't look completed yet.

[2019-10-14 09:00] appsrex commented on #48
On it

[2019-10-14 19:44] drebbits commented on #48
Thanks, @appsrex! I have a follow up changes ready that I can merge later in the morning.

[2019-10-15 04:21] drebbits commented on #48
@Kenshino page is ready. We are only missing featured image and content for Themeum (https://2020.asia.wordcamp.org/wp-admin/post.php?post=12315&action=edit).

Sponsors page:
https://2020.asia.wordcamp.org/sponsors

Single page:
https://2020.asia.wordcamp.org/sponsor/paypal/

It's likely for testing but wanted to ask anyway if several sponsor levels per sponsor is intentional.
![Screen Shot 2019-1

[2019-10-23 05:40] nukaga commented on #48
Thank you! @drebbits @appsrex
I think it is better to have a logo in the center when there is only one sponsor in the same sponsor hierarchy in the sponsor list.

[2019-10-24 08:34] drebbits commented on #48
@nukaga does the #designteam have specific design for this for mobile? Right now, they just stack up — each logo is full width.

WCASIA 2020 Sponsors
![IMG_1649](https://user-images.githubusercontent.com/5811397/67467718-dcf58900-f67b-11e9-80b8-90b678f6c5d4.PNG)

Are you looking similar layout as on WCUS 2019 Sponsors page (https://2019.us.wordcamp.org/sponsors/)
![IMG_1650](https://user-images.gi

[2019-10-24 08:55] drebbits commented on #48
@ibdz @nukaga

@appsrex has a feedback:

I do get his point, level name headings are bigger than the logos which you can start noticing from Asok down to Nana.

Looking at other WordCamps for inspiration (if it helps):

WCEU2019 has smaller headings
https://2019.europe.wordcamp.org/sponsors/

WCUS2019 puts the logos in a box:
https://2019.us.wordcamp.org/sponsors/

Adding to this list is WCBKK2019

[2019-10-24 09:53] wittwitsan commented on #48
@drebbits I agree that the level name headings are too big. I'm thinking of adding the divider line between each level, that might help.

WCUS2019 is what I'm looking for. I feel that the image size of Nana is too small, I will adjust and get back to you asap.

[2019-10-26 11:57] drebbits commented on #48
Pulled from the [#website](https://wcasia.slack.com/archives/CJZ0CRN7J/p1572084313017500) Slack channel:

![image](https://user-images.githubusercontent.com/5811397/67619141-811d3280-f82a-11e9-8e29-a92fa3a2e029.png)

Container width 960px (added negative margin on left -16px/right -16px)
Size of each sponsor item: (margin: 0 16px 24px 16px)
Siam - 50%
Silom - 33.3333%
Asok - 25%
Ari - 20%
Nana / I

[2019-11-01 06:00] drebbits commented on #48
@ibdz looking at how you align Shifter and Seed Themes in the mock-up, and It's pretty complicated to apply that to all the logos as not all would look good with that alignment.

Here's our progress that I posted in another PR:
https://github.com/wcasia/theme-2020/pull/53#issue-335287031

We could tweak just for Nana for better logo alignment:
<img width="386" alt="Screen Shot 2019-11-01 at 1 54 2

[2019-11-05 02:44] tepkenvannkorn opened #54 "Payment Error on Tickets“Your form submission could not be processed. Please try again.”"
Original message:
Message: Hello Team, hope you all are doing well!
Earlier today, I was trying to purchase (4) tickets to WordCamp Asia. After initiating the payment, I was displayed with an error “Your form submission could not be processed. Please try again.”
I tried to make the payment through a credit card with Stripe. Attached is a screenshot of the error - https://www.evernote.com/l/AgdxxFI

[2019-11-12 08:05] drebbits commented on #54
JC responded to the reporter. Closing.

[2019-11-12 08:05] #54 closed, assigned to nobody

[2019-11-12 08:15] drebbits commented on #48
@tepkenvannkorn can you help look at why the other levels are not in their correct number of sponsors per row?

<img width="536" alt="Screen Shot 2019-11-12 at 4 10 57 PM" src="https://user-images.githubusercontent.com/5811397/68653656-2a706200-0567-11ea-9e42-dd738b221183.png">

For reference:
Siam - 2 sponsors per row
Silom - 3 sponsors per row
Asok - 4 sponsors per row
Ari - 5 sponsors per row
N

[2019-11-12 08:59] drebbits commented on #48
@tepkenvannkorn also take a look at the individual sponsors page if they are consistent. We can give a hand to Sponsors team to build these single sponsor pages.

[2019-11-13 14:22] tepkenvannkorn opened #55 "Sticker Mule to In-Kind Sponsor"
https://www.figma.com/file/vDNpJTFZmNsMFQnwFNXs5M/WordCamp-Asia-2020-Website?node-id=134%3A35

[2019-11-13 14:25] #39 closed, assigned to nobody

[2019-11-15 01:47] tepkenvannkorn commented on #55
Need sponsor team to add copy

[2019-11-19 06:19] drebbits opened #57 "Add logos of media partners to the Press page"

[2019-11-19 07:24] drebbits commented on #57
For:
https://2020.asia.wordcamp.org/press/

At the moment we have only names listed. We promised we would have their logo on our websites. Currently 8 MPs, it would be 9.

Logos:
https://docs.google.com/spreadsheets/d/1ILw1Gv4_079JLp1x-SfZkE1BMVuPwsFfPTkbGp9j1XI/edit#gid=732023376

[2019-11-21 12:19] drebbits commented on #55
This is not yet ready. Sponsor team will reach out when they ready to build the In Kind sponsors area.

[2019-11-21 12:20] drebbits commented on #48
Here's the confirmed number of sponsors per row per level per the @sponsorsteam:

Siam and Silom: 2
Asok: 3
Ari: 4
Nana: 5

As noted earlier in the thread here, they are also exploring the idea of having a background to the sponsors logo and boxed in a rectangular container (similar to WCUS 2019 - https://2019.us.wordcamp.org/sponsors/)

See PR #58

[2019-11-22 06:24] tepkenvannkorn commented on #55
Text:
Sticker Mule is the fastest and easiest way to buy custom printed products. Order in 60 seconds and we'll turn your designs and illustrations into custom stickers, magnets, buttons, labels and packaging in days. We offer free online proofs, free worldwide shipping and super fast turnaround. https://www.stickermule.com/supports/wordcamps

[2019-11-22 07:41] drebbits commented on #55
@tepkenvannkorn we will use Sponsors block moving forward. Use the branch `feature/sponsors-blocks` instead of master for now to update the In-Kind Sponsors.

- [x] Update Sticker Mule single sponsor page with the updated text (keep it in draft)
- [x] Add In-Kind Sponsor at the bottom in the new Sponsors page (https://2020.asia.wordcamp.org/wp-admin/post.php?post=13349&action=edit) (similar struct

[2019-11-22 08:51] imnok opened #59 "Can we highlight an error field which is required to fill?"
There is a notification error message to remind the user to complete all required fields. Can we improve by highlight those fields as well?

I attached the file as an example.

<img width="981" alt="Screen Shot 2019-11-22 at 15 43 01" src="https://user-images.githubusercontent.com/6683477/69411556-cc4e3680-0d3f-11ea-978b-58ae80349b48.png">

[2019-11-22 10:22] appsrex commented on #57
Added 8 logos

[2019-11-22 10:23] #57 closed, assigned to appsrex

[2019-11-22 10:24] appsrex commented on #57
Added MP's Logo using 3 column layout

[2019-11-25 08:49] drebbits commented on #57
thanks @appsrex !

[2019-11-25 08:49] drebbits commented on #57
Looks great.

[2019-11-25 08:58] tepkenvannkorn opened #60 "Create KidsCamp Page"

[2019-11-25 09:09] drebbits commented on #60
- [ ] Content from communication team
- [ ] Layout
- [ ] Build the page
- [ ] Send to communication for publishing

[2019-11-26 05:19] drebbits commented on #59
@appsrex can you look into this? I'm thinking if it's easy to accomplish, let's do it. If not, let's see if it still worth doing it like do we still have enough tickets to sell, etc.

[2019-11-27 08:00] drebbits opened #61 "Sponsors list above footer"

[2019-11-28 10:05] drebbits commented on #43
@appsrex can you provide additional eyes here? just want to make sure we've exhausted options to help the Communication team to not be overwhelmed with spam or issues with forms on our site.

[2019-11-28 14:32] drebbits commented on #48
Moving my feedback in here:

@tepkenvannkorn after previewing the changes in customizer, here are my feedback:

**A.** the sideline doesn't seem to play nicely with the grid especially that it's not align with the left and right edges of the grid. Let's remove that for now if it's going to be a challenge aligning the sideline with the grid.

**B.** reduce the width of the logo images of Silom spon

[2019-11-29 04:39] tepkenvannkorn commented on #55
Hi @drebbits should this ticket be closed?

[2019-11-29 09:48] drebbits opened #62 "Add Speakers and Sessions"
This task is for adding the remaining Speakers and Sessions into the site. Refer to the Website Sitemap sheet for the  list of Speakers and Sessions to add into our site.

Todos:
- [x] Add all Speakers
- [x] Add all Sessions
- [ ] ~Add/build Speakers listing page~
- [ ] ~Add/build Sessions listing page~

Moving listing pages into a separate tickets.

[2019-11-30 08:33] drebbits commented on #55
@tepkenvannkorn let's go ahead and close this out. We will keep track of the deployment of our changes here in the main Sponsors ticket task.

[2019-11-30 08:43] drebbits opened #64 "Schedule Page"

[2019-11-30 08:47] drebbits commented on #48
@tepkenvannkorn we are awaiting for the key visual from the design team. Once we have that, we should be able to finalize the layout for the sponsors page.

[2019-12-02 08:07] drebbits opened #65 "Speakers A/V Release Page"
Create a page and add content similar to what you found here - https://2019.europe.wordcamp.org/speaker-a-v-release/ but replace `WordCamp Europe 2019` => `WordCamp Asia 2020`.

Build the form, and confirm with the speakers team the email address to CC in the form.

Lastly, add the page to the content roadmap sheet for communications team to look at.

[2019-12-02 08:56] drebbits commented on #62
Pay attention to the `Announcement Round` column in the `Website Sitemap > Speakers` & `Website Sitemap > Sessions`. We need to add them in order of when they are announced.

[2019-12-02 09:24] drebbits commented on #62
Sessions are added for round 2. Once speakers are added (in **draft**), assign round 2 speakers to their respective session.

[2019-12-02 09:55] drebbits commented on #62
I've encountered the error again with assigning a category. Not sure if it's reserved but it's a familiar and likely we could resolved by reaching out to a WordCamp super admin. I will reach out to them.

<img width="521" alt="Screen Shot 2019-12-02 at 5 13 51 PM" src="https://user-images.githubusercontent.com/5811397/69949683-f0bec580-152c-11ea-8565-e7a36841808d.png">

[2019-12-02 18:59] drebbits commented on #62
Comms team took care of adding the Speakers. We'll be standby for the next round of speakers to add :)

[2019-12-03 08:40] #62 closed, assigned to drebbits, appsrex

[2019-12-03 08:41] drebbits opened #66 "Add Speakers & Sessions - Content Speakers"
Refer to Announcement Round => `3` column in the `Website Sitemap > Speakers` & `Website Sitemap > Sessions`. We need to add them in order of when they are announced.

- [x] Add draft Speakers (do not publish yet)
- [x] Add draft Sessions (do not publish yet)
- [x] Ping and assign this to @drebbits to update comms and speakers teams in Trelllo

### Add draft speaker page notes
- Add the speaker ed

[2019-12-03 08:44] naokomc opened #67 "Add Contributor Day page"
I've received 2 comments from attendees that they are not sure when Contributor Day is.
Could you make this information more visible?

https://2020.asia.wordcamp.org/info/ has this info but is not visibly linked.

[2019-12-03 18:07] #55 closed, assigned to tepkenvannkorn

[2019-12-03 18:17] drebbits opened #68 "Add Speakers & Sessions - Matt"
Refer to Announcement Round `4` & `5` in the `Website Sitemap > Speakers` & `Website Sitemap > Sessions`. We need to add them in the order of when they are announced.

- [ ] Add draft Speakers (do not publish yet)
- [ ] Add draft Sessions (do not publish yet)
- [ ] Ping and assign this to @drebbits to update comms and speakers teams in Trelllo

### Add draft speakers note
Add the speaker edit page

[2019-12-03 18:20] drebbits opened #69 "Add Speakers & Sessions - Business Speakers"
Refer to Announcement Round `4` in the `Website Sitemap > Speakers` & `Website Sitemap > Sessions`. We need to add them in the order of when they are announced.

- [ ] Add draft Speakers (do not publish yet)
- [ ] Add draft Sessions (do not publish yet)
- [ ] Ping and assign this to @drebbits to update comms and speakers teams in Trelllo

### Add draft speaker page notes
- Add the speaker edit pag

[2019-12-03 18:38] drebbits commented on #66
Description updated with more notes.

[2019-12-04 08:38] jainnidhi commented on #66
I've drafted all the speakers and sessions for 3rd round. :)

[2019-12-04 08:38] #66 closed, assigned to jainnidhi

[2019-12-04 10:08] drebbits commented on #64
Let me assign this back to me as we need info from speakersteam and design from designteam

[2019-12-05 09:23] drebbits commented on #69
@appsrex I moved the due to tomorrow (earlier) so comms team will have some time to check/QA.

[2019-12-05 09:24] drebbits commented on #69
Refer to Announcement Round `4` in our sheet (we had some changes from our latest call with the comms/speakers/design

[2019-12-05 09:29] drebbits opened #70 "Add Speakers & Sessions - Community"
Refer to Announcement Round `5` in the `Website Sitemap > Speakers` & `Website Sitemap > Sessions`. We need to add them in the order of when they are announced.

- [ ] Add draft Speakers (do not publish yet)
- [ ] Add draft Sessions (do not publish yet)
- [ ] Ping and assign this to @drebbits to update c/s/d teams in Trello

### Add draft speaker page notes
- Add the speaker edit page URL in the s

[2019-12-05 09:31] drebbits opened #71 "Add Speakers & Sessions - Panels"
Refer to Announcement Round `6` in the `Website Sitemap > Speakers` & `Website Sitemap > Sessions`. We need to add them in the order of when they are announced.

- [ ] Add draft Speakers (do not publish yet)
- [ ] Add one draft Session (do not publish yet) titled 'Panel Discussion: Building a WordPress Community' (info in the Sessions tab)
- [ ] Ping and assign this to @drebbits to update c/s/d te

[2019-12-05 09:32] drebbits opened #72 "Add Speakers & Sessions - Mixed"
Refer to Announcement Round `7` in the `Website Sitemap > Speakers` & `Website Sitemap > Sessions`. We need to add them in the order of when they are announced.

- [ ] Add draft Speakers (do not publish yet)
- [ ] Add draft Sessions (do not publish yet)
- [ ] Ping and assign this to @drebbits to update c/s/d teams in Trello

### Add draft speaker page notes
- Add the speaker edit page URL in the s

[2019-12-05 09:34] drebbits opened #73 "Enable and setup PWA"
Enable PWS plugin, and configure with basic options.

[2019-12-05 23:37] coderexco commented on #69
Sessions & Speakers bio has been added( draft)

[2019-12-05 23:39] appsrex commented on #69
Sessions & Speakers' bio has been added.

[2019-12-05 23:39] #69 closed, assigned to appsrex

[2019-12-06 06:45] drebbits commented on #48
@tepkenvannkorn have you already addressed my feedback here https://github.com/wcasia/theme-2020/issues/48#issuecomment-559515988? Let's go ahead and make changes for that. Design team wanted to see the changes first before they look at it.

Please setup customizer with the updated changes there so we could QA.

[2019-12-06 06:55] drebbits commented on #72
Please make sure to read the speakers and sessions notes in the description. Thanks!

[2019-12-06 06:55] drebbits commented on #71
Please make sure to read the speakers and sessions notes in the description. Thanks!

[2019-12-06 07:10] drebbits commented on #69
I shared the speakers and sessions WP page urls to the com/spe/des teams.

[2019-12-06 07:15] drebbits commented on #68
Created draft speakers and session pages for Matt. Shared the URLs to com/spe/des teams.

[2019-12-06 07:15] #68 closed, assigned to drebbits

[2019-12-06 07:22] drebbits commented on #48
Sorry for any confusion here. My feedback above is referring to this pull request https://github.com/wcasia/theme-2020/pull/74

[2019-12-09 09:35] drebbits commented on #70
Done. Shared the links to com/spe teams.

[2019-12-09 09:36] #70 closed, assigned to drebbits

[2019-12-09 09:38] drebbits commented on #48
@tepkenvannkorn update here? Please share the new Sponsors page to the design team to test.

[2019-12-09 10:51] drebbits commented on #48
Approved by the design team.

Please have it reviewed by the sponsors team. In-Kind are placeholders only so they could see how would it look like there.

https://2020.asia.wordcamp.org/sponsors-blocks/

[2019-12-09 11:06] drebbits commented on #48
@tepkenvannkorn sorry, I noticed one thing on mobile. Before we send over to Sponsors team could we please address it first?

1. On smaller screens, sponsors are stack up. Let's make the logos to be 2x2 (except Siam) starting from 360px and until it shifts to their corresponding logos per row.

Currently:
<img width="291" alt="Screen Shot 2019-12-09 at 6 55 47 PM" src="https://user-images.githubus

[2019-12-09 11:35] drebbits commented on #67
While we wait for the Contributor Day page to be created, we can add a link in the top nav to link to say https://2020.asia.wordcamp.org/info/#date temporarily.

[2019-12-09 11:36] drebbits commented on #61
@tepkenvannkorn feel free to work on this next. Basically, we just need to replicate the new Sponsors page sponsors list above the footer of every page.

[2019-12-09 11:38] drebbits opened #75 "Add Speakers listing page"

[2019-12-09 11:38] drebbits opened #76 "Add Sessions listing page"

[2019-12-10 00:30] tepkenvannkorn opened #77 "Sam: website email feeds subscription not working"
Someone reported the website email feeds subscription not working - as they don't get any emails since Aug.

[2019-12-10 06:57] drebbits commented on #71
Shared the WP speakers and session links to com/spe teams. Closing.

[2019-12-10 06:57] #71 closed, assigned to jainnidhi

[2019-12-10 07:04] #65 closed, assigned to jainnidhi

[2019-12-11 13:39] drebbits commented on #48
@tepkenvannkorn please have sponsors team review and get approval if all looks good for them. Great work here by the way!

[2019-12-11 13:52] tepkenvannkorn commented on #48
Yes, done.

[2019-12-11 14:07] drebbits opened #81 "Can't edit info using the link generated by [ticket_url]"

[2019-12-12 16:18] coderexco commented on #72
Added as much info found there.

[2019-12-12 17:47] drebbits commented on #72
@coderexco please take a look at the sheet again. I've setup the final list of the round 7 speakers and sessions with their bio.

Some speakers and sessions have already added but review them if they have the right format.

[2019-12-12 23:01] appsrex commented on #72
checked and updated.

[2019-12-12 23:01] #72 closed, assigned to appsrex

[2019-12-13 06:39] drebbits commented on #72
Shared to com/spe teams.

[2019-12-19 10:11] jainnidhi commented on #81
I've fixed it.
When I tried to edit the info, there was a question “May we contact you… ” which was required and haven't selected any option. So I've set that to **not required** in Standard ticket.

[2019-12-19 10:11] #81 closed, assigned to drebbits, tepkenvannkorn

[2019-12-19 14:10] imnok commented on #81
🙌 @jainnidhi Thank you for looking at this.

The issue is about the ”Edit Information” link disappear from ticket access Link page, but now it back to what it should be - so at this moment anyone can access to their ticket information and update it 🙂

[2019-12-21 15:44] jainnidhi commented on #75
I've set up this page.
https://2020.asia.wordcamp.org/?page_id=8&preview=true

[2019-12-21 23:16] drebbits commented on #75
@jainnidhi I updated with these changes:

- I removed the twitter so less of noise and links for people to click when they stumbled in the speakers listing page
- Changes from full to excerpt
- Make the layout more consistent with the announcement posts

Next step here is to send the draft page to communications team for review and publish.

[2019-12-22 07:17] jainnidhi opened #82 "Add Contributor Day & Conference Day info on the home page"
We need to make it clear that 21st is the Contributor Day and 22/23 are the conference days.
We can add on the home page or in the banner and other areas.

[2019-12-29 17:38] drebbits commented on #82
@tepkenvannkorn looks great for me. Can we please get design and comms teams' approval before we deploy the code changes? Thanks for work here!

[2019-12-30 03:00] tepkenvannkorn commented on #82
Cool. I now get the approval from both teams.

[2019-12-30 03:00] #82 closed, assigned to tepkenvannkorn

[2020-01-01 14:02] #48 closed, assigned to tepkenvannkorn

[2020-01-04 06:35] drebbits opened #84 "Changes in Speakers Lineup"
- Add new speakers
- Remove dropped speakers

[2020-01-04 07:12] drebbits commented on #84
Added the backup speakers and remove dropped speakers and sessions.

[2020-01-04 07:12] #84 closed, assigned to drebbits

[2020-01-04 07:21] drebbits commented on #75
Thanks for you help here, @jainnidhi. I notified comms team that Speakers archive page is ready.

[2020-01-04 08:16] drebbits commented on #76
This is ready. Sending to comms team for review and publishing.

[2020-01-07 06:21] #75 closed, assigned to drebbits, jainnidhi

[2020-01-07 13:14] tepkenvannkorn opened #85 "Make Siam and Silom look different"
We want to make a difference between Siam and Silom. Is there a good idea? (a little bigger, border, shadow or something)

[2020-01-08 12:51] appsrex commented on #85
Will look at it

[2020-01-08 14:20] drebbits commented on #76
This page is now published. Closing.

[2020-01-08 14:20] #76 closed, assigned to drebbits

[2020-01-09 01:42] drebbits commented on #85
@appsrex given @tepkenvannkorn  worked on the Sponsors page before, I think we'll have him work on this, too. However, let us know your thoughts or suggestions how we can better identify Siam and Silom sponsors better visually.

[2020-01-09 01:42] drebbits commented on #64
Initially updated the style of the page to match with the WC Asia 2020 visual.

<img width="512" alt="Screen Shot 2020-01-09 at 9 38 13 AM" src="https://user-images.githubusercontent.com/5811397/72030489-0fe70a80-32c4-11ea-855d-f40f893ebdee.png">

https://2020.asia.wordcamp.org/schedule

Sessions with a slightly different shade of background are favorited/starred sessions.

@jainnidhi and team, pl

[2020-01-09 14:22] drebbits commented on #67
@jainnidhi let's reach out to Contributor Day team to check the status of our schedule for this day.

[2020-01-11 06:54] jainnidhi commented on #67
@drebbits Contributor page is live now.
https://2020.asia.wordcamp.org/contributor-day/
So we can close this ticket.

[2020-01-11 07:13] drebbits commented on #67
@jainnidhi that's right. Let's close this one.

[2020-01-11 07:52] drebbits opened #87 "Save attendee information button on mobile"
![IMG-20200110-WA0050](https://user-images.githubusercontent.com/5811397/72200962-55edcb00-348a-11ea-88f4-0b1c528019e5.jpg)

[2020-01-14 12:08] jainnidhi opened #88 "Add track headings for mobile device on Schedule page."
We can fix track headings for mobile device like attached.

![image (59)](https://user-images.githubusercontent.com/6801404/72343224-5ab5b780-36f4-11ea-9cef-66222afd69d6.png)

[2020-01-15 07:28] #85 closed, assigned to tepkenvannkorn

[2020-01-15 10:54] appsrex commented on #43
I have checked and found the meta team is not really fond of captcha but they suggest to stick with Akismet & let it learn to mark spam comments.

[2020-01-15 11:00] appsrex commented on #77
A possible reason could be they didn't confirm their subscription email

[2020-01-15 12:44] #87 closed, assigned to jainnidhi

[2020-01-17 05:16] drebbits commented on #59
We can close this one now since we remove required setting for this field. This field added later when many have purchased their ticket already, and it's causing the ticket edit information disappear from their ticket info page.

However, this is a good improvement to keep in mind for better experience in filling out the form for future WordCamps (Asia and other WordCamps).

[2020-01-17 05:16] #59 closed, assigned to appsrex

[2020-01-17 05:17] drebbits commented on #61
@tepkenvannkorn can you confirm with the sponsors team if they'd still like to see the Sponsors list above footer in all pages (except Sponsors page of course)?

[2020-01-17 05:17] #67 closed, assigned to jainnidhi

[2020-01-17 05:17] drebbits commented on #60
Comms page took care of the page.

[2020-01-17 05:17] #60 closed, assigned to nobody

[2020-01-20 04:16] sam-suresh opened #92 "Sponsor Logos messed up"
![screencapture-2020-asia-wordcamp-org-schedule-2020-01-20-12_15_35](https://user-images.githubusercontent.com/5198092/72698320-b792f100-3b7e-11ea-803c-fd39dc578795.png)

[2020-01-20 05:07] drebbits commented on #92
@sam-suresh thanks for reporting this. Some changes were publish in Customizer Friday last week, and that published work in above footer Sponsors that shouldn't made public. I removed the widget and it's in shape now.

[2020-01-20 05:07] #92 closed, assigned to nobody

[2020-01-25 16:40] drebbits commented on #88
This is deployed a week ago. Closing.

[2020-01-25 16:40] #88 closed, assigned to drebbits

[2020-01-26 08:32] drebbits opened #94 "Setup WP Checkin"
Task to track the progress in setting up a QR-based check-in system “wp-checkin“ in wpasia.org. This tool is developed by Japanese WordPress community and has been used twice in WordCamp Tokyo.

- [x] Confirm assigned member has access to wpasia.org server
- [ ] Install dependencies (if needed)
- [ ] Clone and setup https://github.com/wct2019/wp-checkin
- [ ] Build content
- [ ] Testing
- [ ] Setu

[2020-01-26 08:36] drebbits commented on #94
I will break down this into tasks so we can track the progress independently but will add these into the WP Checkin project.

[2020-01-26 18:19] wittwitsan opened #95 "Add Key Visual into website header (homepage)"
After waiting for so long, it's time to iterate the website header with the Key Visual.
![Website-Desktop-03](https://user-images.githubusercontent.com/426383/73139545-a3c91c80-40a1-11ea-819c-dc2d14a9ab3d.png)

Background assets here: https://drive.google.com/open?id=1DNwXZg-th9WsdEon7DHq06EEDUMEA1X4

- [ ] WordCamp Asia 2020 -> Rubik / Bold / font-size 30.17px / line-height 36px / #D73534
- [ ] F

[2020-01-30 08:03] tepkenvannkorn commented on #95
@drebbits should we keep "21st Contributor Day / 22nd & 23rd Conference Day"?

[2020-02-04 07:06] naokomc opened #98 "Schedule Page: Un-styled category text in some session cells"
There is random un-styled extra category text on the schedule page. For example:

![image](https://user-images.githubusercontent.com/34067/73721469-ac87b580-4767-11ea-84ad-88ccda580b0c.png)

![image](https://user-images.githubusercontent.com/34067/73721528-ce813800-4767-11ea-94ad-36337f252d3c.png)

I checked Chrome and Safari on macOS Catalina (both logged-in and logged-out). This is not showing o

[2020-02-04 16:34] #98 closed, assigned to nobody

[2020-02-05 09:46] appsrex commented on #73
PWA has been added to the core & Enabled to WCasia site. Details: https://make.wordpress.org/community/2020/02/03/wordcamp-pwa-is-now-available-for-all-wordcamps/

We need to edit and update the existing pages to get the offline page feature.

[2020-02-05 09:46] #73 closed, assigned to appsrex

[2020-02-06 03:44] tepkenvannkorn commented on #94
@drebbits the PHP version on wpasia server is 5.4 which I think it does not work with wp-checkin. I'm thinking of installing php 7 but afraid if the current site or other services may fail.

[2020-02-06 04:21] drebbits commented on #95
@tepkenvannkorn let's keep it for now. Thanks for the updates here!

[2020-02-06 04:21] #95 closed, assigned to tepkenvannkorn

[2020-02-06 04:30] #64 closed, assigned to drebbits, jainnidhi

[2020-02-06 04:40] drebbits opened #101 "Draft the static offline page"

[2020-02-06 04:40] drebbits opened #102 "Draft the Day of Event page"

[2020-02-06 04:44] drebbits opened #103 "Upgrade PHP to 7"
Parent #94

[2020-02-06 04:57] drebbits commented on #102
@appsrex @jainnidhi assigning this to you both if you're okay working on this. If it's easier, you can reach out to WC EU team to know how they can setup the day of event page. I'm going to comment later on once I could find more resources on this:

PR of the Day of Event
https://github.com/WordPress/wordcamp.org/pull/241

[2020-02-06 04:58] drebbits commented on #101
@appsrex @jainnidhi assigning this to you both as well. I'm going to update the description of this ticket with the outline of content but everyone is welcome to suggest improvements to it, and we can discuss.

[2020-02-08 15:59] #103 closed, assigned to nobody